.container {
  width: 600px;
  height: 600px;
  display: flex;
  margin: 200px auto;
}

.psw_box {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  background: url(../img/hacker.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  margin: 0 auto;
}

.psw_box h2,
h1 {
  color: white;
  line-height: 500px;
}
